@import url("https://fonts.googleapis.com/css?family=Indie+Flower&display=swap");

body {
  font-family: "Indie Flower", cursive, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  color: #50250c;
  overflow-x: hidden;
  min-width: 360px;
}
.dark {
  background-color: #444242;
  color: #e5e5e5;
}
.darknav li {
  background-color: #444242;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.dark #seemore:hover {
  background-color: #444242;
}
.dark h1 {
  text-shadow: none;
  font-weight: 800;
}
.dark #sticker {
  border: 10px solid #444242;
}
.darknav {
  background-color: #444242;
  color: #e5e5e5;
}
.darknav svg {
  -webkit-filter: brightness(49);
  filter: brightness(49);
}
.darknav span .count {
  color: #50250c;
  border: 2px solid white;
}

.darknav li:hover {
  background-color: #444242;
}
.darknav svg:hover {
  -webkit-filter: brightness(5);
  filter: brightness(5);
  background-color: #444242;
  -webkit-box-shadow: 3px 3px 3px #444242;
  box-shadow: 3px 3px 3px #444242;
}
.dark footer {
  color: #50250c;
}
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 5vw;
  min-height: 60px;
}
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5rem;
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
}
header * {
  padding: 0.1em 0.5em;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
nav span ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
nav li:hover {
  background-color: #f8f0de;
  border-radius: 45%;
  -webkit-box-shadow: 3px 3px 3px #f8f0de;
  box-shadow: 3px 3px 3px #f8f0de;
}
nav span {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-left: auto;
}
header h1 {
  color: #50250c;
  text-shadow: 3px 3px 3px #f4ca5c, 3px 3px 5px #f4ca5c, 3px 3px 15px #f4ca5c,
    3px 3px 18px #f4ca5c;
  text-decoration: none;
  font-size: 1.7rem;
  margin-left: 1em;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
  text-transform: uppercase;
}
.photo-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-size: cover;
  background-position: center;
  height: 60vh;
}
.welcome {
  background-image: url("../../assets/brand");
}
.welcome p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-shadow: 3px 3px 3px #50250c, 3px 3px 5px #50250c, 3px 3px 10px #50250c,
    3px 3px 16px #50250c, 3px 3px 28px #50250c;
  font-size: 7vmin;
  justify-items: center;
  margin: auto;
  color: white;
}
.collection {
  overflow: hidden;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.btn-collec {
  -webkit-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 3rem;
  width: 15vw;
  min-width: 100px;
  max-width: 170px;
  margin-top: 2em;
  margin-left: 2em;
  border-radius: 0.8em;
  background-color: #f4ca5c;
  font-size: 1.4rem;
}
.collection .btn-more {
  font-size: 1.5rem;
  border: none;
  background: none;
  margin: 2.5em 2em auto auto;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  cursor: pointer;
}
.collection .btn-more:hover {
  background-color: #f8f0de;
  border-radius: 20%;
  -webkit-box-shadow: 3px 3px 3px #f8f0de;
  box-shadow: 3px 3px 3px #f8f0de;
}
.btn-more svg {
  margin-left: 1em;
}
.collec-scroll {
  height: auto;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin-bottom: 2em;
}
.collec-scroll::-webkit-scrollbar {
  display: none;
}
.collec-cart {
  display: inline-block;
  width: 35vw;
  height: 45vw;
  margin: 1em;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
}
.collec-cart p {
  margin-top: 1.5em;
  font-size: 1.3rem;
  -webkit-text-decoration: underline 3px #dfd0bf;
  text-decoration: underline 3px #dfd0bf;
}
.collec-cart p:hover {
  -webkit-text-decoration: underline 3px #f4ca5c;
  text-decoration: underline 3px #f4ca5c;
}
.cart-image {
  width: 80%;
  height: 80%;
  margin: 0.7em auto;
}
.cart-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 0.7em;
  border: 10px solid rgba(192, 189, 189, 0.493);
}
.cart-image img:hover {
  border: 10px solid rgba(219, 217, 217, 0.698);
}

span .cart {
  position: relative;
}
span .count {
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  padding-left: 0.5em;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 0.3rem;
  right: 0.5rem;
  height: 30px;
  width: 30px;
  background-color: #f4ca5c;
  border: 1px solid black;
  z-index: 100;
  border-radius: 50%;
}
#products {
  position: relative;
  background: #c0bbba; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#5a5959),
    to(#c0bbba)
  );
  background: -o-linear-gradient(left, #5a5959, #c0bbba);
  background: linear-gradient(
    to right,
    #5a5959,
    #c0bbba
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: auto;
}
.product-list {
  margin-top: 4em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
#sticker {
  position: absolute;
  height: 20vw;
  width: 20vw;
  min-width: 145px;
  max-width: 228px;
  min-height: 145px;
  max-height: 228px;
  color: white;
  background-color: #c0bbba;
  border: 10px solid white;
  border-radius: 50%;
  top: -9vw;
  right: 4vw;
  z-index: 100;
  text-align: center;
  font-size: 1.8em;
  padding-top: 5.5vw;
}
.product-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 2em auto;
  background-color: #e5e5e5;
  border-radius: 0.5em;
  width: 45%;
  height: 45vw;
  text-align: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  font-size: 1.5rem;
}
.product-cart p {
  margin: auto 0.3em;
  overflow: hidden;
}

.cart-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 90%;
  height: 80%;
  overflow: hidden;
}
.cart-product img {
  height: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
.cart-product img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}

.colors {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
.brown {
  background-color: #a15927;
}
.black {
  background-color: #111110;
}
.lightpink {
  background-color: #dab3aa;
}
.green {
  background-color: #193135;
}
.orange {
  background-color: #d08706;
}
.darkred {
  background-color: #571119;
}
.brown,
.black,
.lightpink,
.green,
.orange,
.darkred {
  border: 3px solid rgb(255, 255, 255);
}
.brown:hover,
.black:hover,
.lightpink:hover,
.green:hover,
.orange:hover,
.darkred:hover {
  border: 3px solid #444242;
}
.btn-cart {
  border-radius: 0.2em;
  border: 2px solid #50250c;
  background-color: #e5e5e5;
  color: #50250c;
  -webkit-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
  cursor: pointer;
}
.btn-buy {
  min-height: 40px;
  min-width: 60px;
  font-size: 1rem;
  font-weight: 500;
  margin: auto 1em;
}
.btn-cart:hover {
  background-color: #f4ca5c;
  color: #070707;
  -webkit-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
}
.btn-browse {
  font-size: 1.8rem;
  margin: 1em auto 2.5em auto;
  padding: 0.3em 0.5em;
}
.philo {
  background-image: url("../../assets/office");
  background-blend-mode: saturation;
  color: black;
}
.philo p {
  font-size: 2.5rem;
  font-weight: 700;
}
.philo div {
  width: 500px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.65);
  padding: 1em 1em;
  margin: auto;
  border-radius: 0.5em;
}
.btn-read {
  font-size: 1.8rem;
  margin: 0.5em auto;
  padding: 0.1em 0.5em;
}
.news {
  width: 70%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 2em;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.wrapping {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 200px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin: 5em auto;
}
.email {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2em;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  margin: auto;
}
.news input {
  height: 80px;
  border: 2px solid black;
  padding: 1em;
}
.news svg {
  height: 80px;
  width: 120px;
  padding: 0.3em;
}
.news svg:hover {
  fill: orange;
  cursor: pointer;
}
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  padding: 0.8em 2em;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-color: #f4ca5c;
  text-align: center;
  height: auto;
}
footer span {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-left: auto;
}
nav svg:hover {
  cursor: pointer;
  background-color: #f8f0de;
  -webkit-box-shadow: 3px 3px 3px #f8f0de;
  box-shadow: 3px 3px 3px #f8f0de;
  border-radius: 50%;
}
.drawer {
  position: absolute;
  top: -250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  background-color: rgba(255, 255, 255, 0.534);
  font-size: 1.5em;
  width: 100%;
  margin-top: 60px;
  height: 150px;
}
.drawer ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: auto;
  height: 100%;
}
#hamburger {
  position: absolute;
  right: 5px;
  display: none;
}
.menu {
  top: 0px;
}
@media screen and (max-width: 770px) {
  span ul,
  .cart {
    display: none;
    visibility: hidden;
  }
  .philo p {
    font-size: 1.5rem;
    font-weight: 700;
  }
  .collec-cart {
    font-size: 1rem;
    width: 70vw;
    height: 80vw;
    margin: 2em;
  }
  .product-cart {
    width: 85%;
    height: 95vw;
    font-size: 1rem;
  }
  .news {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    margin: 0.5em auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .news input {
    width: 80%;
  }
  .btn-browse {
    font-size: 1.5rem;
    margin: 1em auto 2.5em auto;
    padding: 0.3em 0.5em;
  }
  .btn-read {
    font-size: 1.5rem;
  }
  .welcome {
    height: 45vh;
  }
  header h1 {
    font-size: 1.3rem;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  nav svg {
    width: 45px;
    height: 45px;
  }
  #hamburger {
    display: block;
  }
  input::-webkit-input-placeholder {
    font-size: 0.5em;
  }
  input::-moz-placeholder {
    font-size: 0.5em;
  }
  input:-ms-input-placeholder {
    font-size: 0.5em;
  }
  input::-ms-input-placeholder {
    font-size: 0.5em;
  }
  input::placeholder {
    font-size: 0.5em;
  }
  .news input {
    height: 50px;
  }
}
/** 
YELLOW #F4CA5C
LIGHT BROWN #A78163
BROWN #50250C 
LIGHT BEIGE #F8F0DE
BEIGE #DFD0BF
*/
