@import url("https://fonts.googleapis.com/css?family=Indie+Flower&display=swap");

body {
  font-family: "Indie Flower", cursive, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

header {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
}
nav {
  display: flex;
  font-size: 1.3rem;
  flex: auto;
}
header * {
  padding: 0.1em 0.5em;
  align-items: center;
  display: flex;
  flex-direction: row;
}
nav span ul {
  display: flex;
  flex-direction: row;
}

nav span {
  justify-content: flex-end;
  margin-left: auto;
}
header h1 {
  color: #1ad123;
  text-decoration: none;
  font-size: 1.7rem;
  margin-left: 1em;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
  text-transform: uppercase;
}
.welcome {
  display: flex;
  background-image: url("/src/assets/twoBags.jpeg");
  filter: hue-rotate(70deg);
  background-size: cover;
  background-position: center;
  height: 60vh;
}
.welcome p {
  display: flex;
  text-shadow: 0px 0px 5px #050505dc;
  font-size: 7vmin;
  justify-items: center;
  margin: auto;
  color: white;
}

.collection {
  overflow: hidden;
  height: 120px;
  display: flex;
  width: 100%;
}
.btn-collec {
  transform: rotate(-3deg);
  box-shadow: none;
  height: 3rem;
  width: 15vw;
  min-width: 100px;
  max-width: 170px;
  margin-top: 2em;
  margin-left: 2em;
  border-radius: 0.8em;
  background-color: #b1f0a8;
  font-size: 1.4rem;
}
.collection .btn-more {
  font-size: 1em;
  border: none;
  background: none;
  margin: 2.5em 2em auto auto;
  align-self: flex-start;
  justify-content: flex-end;
}
.btn-more img {
  margin-left: 1em;
}
.collec-scroll {
  height: auto;
  overflow: auto;
  white-space: nowrap;
  background-color: rgb(255, 255, 255);
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin-bottom: 2em;
}
.collec-scroll::-webkit-scrollbar {
  display: none;
}
.collec-cart {
  display: inline-block;
  width: 35vw;
  height: 45vw;
  margin: 1em;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
}
.collec-cart p {
  margin-top: 1.5em;
  font-size: 1.3rem;
  text-decoration: underline 2px #50aaff;
}
/* to automate with JS to go tho server data  */
.cart-image {
  width: 80%;
  height: 80%;
  margin: 0.7em auto;
  background-size: cover;
  background-position: bottom;
  border-radius: 0.5em;
  border: 10px solid rgba(255, 255, 255, 0.685);
}

.cart-image-1 {
  background-image: url("/src/assets/collection/bandouliere-back-to-school.jpg");
}
.cart-image-2 {
  background-image: url("/src/assets/collection/bandouliere-poignee-metal-et-bi-matiere.jpg");
}
.cart-image-3 {
  background-image: url("/src/assets/collection/cabas-bi-matiere-poche-devant-avec-foulard.jpg");
}
.cart-image-4 {
  background-image: url("/src/assets/collection/sac-cabas-detail-tresse.jpg");
}
.cart-image-5 {
  background-image: url("/src/assets/collection/shopper-bi-matiere-details-clous.jpg");
}

span .cart {
  position: relative;
}
span .count {
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  padding-left: 0.5em;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 0.3rem;
  right: 0.5rem;
  height: 30px;
  width: 30px;
  background-color: chartreuse;
  border: 1px solid black;
  z-index: 100;
  border-radius: 50%;
}
#products {
  position: relative;
  background: #1599579d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #1557999d,
    #1599579d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #1557999d,
    #1599579d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: auto;
}
.product-list {
  margin-top: 4em;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.sticker {
  /* Should disappear if too small viewport */
  position: absolute;
  height: 20vw;
  width: 20vw;
  min-width: 145px;
  max-width: 228px;
  min-height: 145px;
  max-height: 228px;
  background-color: #6fba9e;
  border: 10px solid white;
  border-radius: 50%;
  top: -9vw;
  right: 4vw;
  z-index: 100;
  text-align: center;
  font-size: 1.8em;
  padding-top: 6vw;
}
.product-cart {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin: 2em auto;
  background-color: #e3e3e3;
  border-radius: 0.5em;
  width: 45%;
  height: 45vw;
  text-align: center;
  justify-content: space-around;
  font-size: 1.5rem;
  border: 10px solid rgba(255, 255, 255, 0.219);
}
.product-cart p {
  margin: auto 0.3em;
}
.product-cart:hover .cart-product {
  width: 100%;
  height: 80%;
  margin: none;
  background-position: bottom;
  transition-duration: 1s;
}

.cart-product {
  display: flex;
  margin: auto;
  width: 90%;
  height: 80%;
  background-position: center;
  background-size: cover;
  transition-duration: 1s;
}
.product-1 {
  background-image: url("/src/assets/collection/front/string-bag-brown.jpg");
}
.product-2 {
  background-image: url("/src/assets/collection/front/ring-bag-black.jpg");
}
.product-3 {
  background-image: url("/src/assets/collection/front/fancy-bag-pink.jpg");
}
.product-4 {
  background-image: url("/src/assets/collection/front/classic-bag-green.jpg");
}
.product-5 {
  background-image: url("/src/assets/collection/front/braided-bag-orange.jpg");
}
.product-6 {
  background-image: url("/src/assets/collection/front/classic-bag-green.jpg");
}
.colors {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
.brown {
  background-color: #a15927;
  border: 2px solid rgb(255, 255, 255);
}
.black {
  background-color: #111110;
  border: 2px solid rgb(255, 255, 255);
}
.lightpink {
  background-color: #dab3aa;
  border: 2px solid rgb(255, 255, 255);
}
.green {
  background-color: #193135;
  border: 2px solid rgb(255, 255, 255);
}
.orange {
  background-color: #ac480a;
  border: 2px solid rgb(255, 255, 255);
}
.btn-cart {
  min-height: 40px;
  min-width: 40px;
  border-radius: 0.2em;
  font-size: 1rem;
  padding: 4em auto;
  font-weight: 500;
  border: 2px solid rgb(41, 40, 40);
  background-color: rgb(65, 64, 64);
  color: #50aaff;
  transition-duration: 0.7s;
}
.btn-cart:hover {
  background-color: #50aaff;
  color: #070707;
  transition-duration: 0.7s;
}
/** 
green #4aed51 
blue #50aaff

*/
